<%= form_with(model: @team, local: true) do |f| %>
  <%= render 'shared/error_messages', object: @team %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :Project %>
  <div class="select">
    <%= f.collection_select(:project_id, Project.all, :id, :project_name) %>
  </div>  

  <% if @edit_team %>
    <%= f.label "Students" %>
    <div class="multi-selection">
    <%= f.collection_check_boxes :user_ids, @team.course_users, :id, :name do |b| %>
      <div class="collection-check-box">
        <table><tr>
        <td><%= b.check_box %></td>
        <td><%= b.label %></td>
        </tr></table>
      </div>
    <% end %>
    </div>
  <% end %>

  
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>