<% provide(:title, @team.name) %>
<%= @team.name %>

<div class="parent-info">
    Project: <%= @team.project_name %>
</div>

<br>

<div class='association-listing'>
    <span><%= pluralize(@team.users.length, "student") %></span>

    <br>

    <% @team.users.each do |user| %>
        <span class="section-item"><%= user.name %></span>
    <% end %>
</div>
<br>

<hr>
<%= link_to 'Modify Team', edit_team_path(@team) %> |
<%= link_to 'Team Summary', teams_path %>
