<% provide(:title, @team.name) %>
<%= @team.name %>
<br>
<span class="num-association"><%= @team.users.length %> Users</span>

<br>
<div class='association-listing'>
<% @team.users.each do |user| %>
    <span><%= user.name %></span>
<% end %>
</div>
<br>

<hr>
<%= link_to 'Modify Team', edit_team_path(@team) %> |
<%= link_to 'Team summary', teams_path %>
