<% provide(:title, "Reset Password") %>
<h1>Reset Password</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: reset_password_path, local: true) do |f| %>

      <%= hidden_field_tag :email, request.params[:email]%>

      <%= f.label :new_password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Reset Password", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>