<%= form_with(model: @project, local: true) do |f| %>
  <%= render 'shared/error_messages', object: @project %>  
  <%= f.label :"Project name" %>
  <%= f.text_field :project_name, class: 'form-control' %>
  <%= f.label :Course %>
  <div class="select">
    <%= f.collection_select(:course_id, Course.all, :id, :course_no) %>
  </div>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
