<%= form_with(model: @project, local: true) do |f| %>
  <%= render 'shared/error_messages', object: @project %>  
  <%= f.label :"Project name" %>
  <%= f.text_field :project_name, class: 'form-control' %>
  <%= f.hidden_field :parent_id, :value => "2" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
