<% provide(:title, @project.project_name) %>
Project: <%= @project.project_name %>
<br>
<span class="num-association"><%= pluralize(@project.teams.length, "teams") %> </span>

<br>
<div class='association-listing'>
<% @project.teams.each do |t| %>
    <span><%= t.name %></span>
<% end %>
</div>

<hr>
<%= link_to 'Modify project', edit_project_path(@project) %> |
<%= link_to 'Project summary', project_path %>

