<%= form_with(model: @course, local: true) do |f| %>
  <%= render 'shared/error_messages', object: @course %>

  <%= f.label :course %>
  <%= f.text_field :course_no, class: 'form-control' %>

  <%= f.label :semester %>
  <%= f.select :semester,["Spring","Fall", "Summer"] %>

 
    <%= f.label "People (Instructor, TAs, and Students)" %>
    <div class="multi-selection">
    <%= f.collection_check_boxes :user_ids, User.where.not(user_role: "Super user").order("user_role").order("name"), :id, :user_display do |b| %>
      <div class="collection-check-box">
        <table><tr>
        <td><%= b.check_box %></td>
        <td><%= b.label %></td>
        </tr></table>
      </div>
    <% end %>
    </div>

  
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>